@using BackOffice.Client.Pages.ProductCatalog.Brand
@using BackOffice.Client.Pages.ProductCatalog.Type
@using BackOffice.Client.Pages.ProductCatalog.Item;
@inherits BlazorComponent

<MudNavMenu>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="test" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
    </li>
    <AuthorizeView>

        <Authorized>

            <MudNavGroup Title="Product Catalog" Icon="@Icons.Material.Filled.Dataset" Expanded="false" Class="my-nav-menu-group">
                <MudNavLink Match="NavLinkMatch.All" OnClick="e => ClickOpenTab<ItemList>(nameof(ItemList), e)">Items</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" OnClick="e => ClickOpenTab<BrandList>(nameof(BrandList), e)">Brands</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" OnClick="e => ClickOpenTab<TypeList>(nameof(TypeList), e)">Types</MudNavLink>
            </MudNavGroup>

        </Authorized>

    </AuthorizeView>

</MudNavMenu>


